<h1>Festivals</h1>

<div class="table-responsive">
    <table class="table table-hover" *ngIf="festivals">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Tables</th>
                <th>Prix Espace entrée</th>
                <th>Prix Espace salle</th>
                <th>Prix Espace buvette</th>
                <th>m2 entrée</th>
                <th>m2 salle</th>
                <th>m2 buvette</th>
                <th># tables entrée</th>
                <th># tables salle</th>
                <th># tables buvette</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let festival of festivals">
                <td>{{ festival?.id }}</td>
                <td>{{ festival.name }}</td>
                <td>{{ festival.tableTotal }}</td>
                <td>${{ festival.tableprice_1.toFixed(2) }}</td>
                <td>${{ festival.tableprice_2.toFixed(2) }}</td>
                <td>${{ festival.tableprice_3.toFixed(2) }}</td>
                <td>${{ festival.sqmbooked_1.toFixed(2) }}</td>
                <td>${{ festival.sqmbooked_2.toFixed(2) }}</td>
                <td>${{ festival.sqmbooked_3.toFixed(2) }}</td>
                <td>{{ festival.tablebooked_1 }}</td>
                <td>{{ festival.tablebooked_2 }}</td>
                <td>{{ festival.tablebooked_3 }}</td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="editFestival(festival)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-primary my-3" (click)="createFestival()">Create a festival</button>

<app-message></app-message>