<div *ngIf="messageService.messages.length > 0">
    <h1>Messages</h1>
    <button class="btn btn-danger mb-3" (click)="clear()">Clear</button>
    <div>
        <ul>
            <li *ngFor="let message of messageService.messages">{{ message }}</li>
        </ul>
    </div>
</div>