<div>
    <h1>{{ creatingNewGame ? 'Create ' : 'Edit ' }} Game:</h1>
    <form class="d-flex flex-column col-4" *ngIf="jeuGroup" [formGroup]="jeuGroup" (ngSubmit)="onSubmit()">
        <label for="name">Nom du jeu</label>
        <input class="mb-3" type="text" formControlName="name" placeholder="Nom du jeu" id="name">
        <label for="type">Type</label>
        <select class="mb-3" formControlName="type" id="type">
            <option selected>enfant</option>
            <option value="famille">famille</option>
            <option value="initié">initié</option>
            <option value="expert">expert</option>
            <option value="jeux de rôle">jeux de rôle</option>
        </select>
        <label for="ageMin">Age minimal</label>
        <input class="mb-3" type="number" formControlName="ageMin" placeholder="âge minimal" id="ageMin">
        <label for="ageMax">Age maximal</label>
        <input class="mb-3" type="number" formControlName="ageMax" placeholder="âge maximal" id="ageMax">
        <label for="nbMin">Nombre de joueurs minimal</label>
        <input class="mb-3" type="number" formControlName="nbMin" placeholder="Nombre de joueurs minimal" id="nbMin">
        <label for="nbMax">Nombre de joueurs maximal</label>
        <input class="mb-3" type="number" formControlName="nbMax" placeholder="Nombre de joueurs maximal" id="nbMax">
        <label for="duree">Durée d'une partie (en minutes)</label>
        <input class="mb-3" type="number" formControlName="duree" placeholder="Durée" id="duree">
        <div class="mb-3">
            <button type="submit" class="btn btn-success me-3" [disabled]="jeuGroup.invalid">Submit</button>
            <button type="button" *ngIf="!creatingNewGame" class="btn btn-danger" (click)="deleteJeu()">Delete</button>
        </div>
    </form>
</div>